body{background-color: #FDE6ED;}

h1{
	text-align: center;

}
table{
	color: #F74A6E;

	padding-left: 150px;
	padding-right: 150px;

}
img{float: right;}
header{
	background-color: #F74A6E;
	padding: 5px;
	
}
footer{
	background-color: #F74A6E;
	padding: 30px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    background: white;
}
ul{ list-style: none;
text-align: center;}

a{
	color: #F74A6E;
}
